#cal{
    max-width: 500px;
    font-size: Arial;
    overflow: hidden;

}
#display{
    width: 100%;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: white;
    color: black;
}
#keys{
   display: grid;
   grid-template-columns: repeat(4,1fr);
   gap: 10px

}

button{

    width: 100px;
    height: 100px;
    border : none;
    color : black;
    font-size: 2rem;
    cursor: pointer;
    background-color: aliceblue;
}